.wookie-app_header {
  display: flex;
  justify-content: space-between;
  .MuiSvgIcon-root {
    vertical-align: bottom;
  }
  h1 {
    display: inline-block;
  }

  border-bottom: 2px solid black;
  margin-bottom: 12px;
}