.button-wrappers {
  width: 100%;
  position: relative;
  .forwardsButton {
    position: absolute;
    right: -20px;
    top: calc(55px);
    z-index: 9001;
  }

  .backwardsButton {
    position: absolute;
    left: -20px;
    top: calc(55px);
    z-index: 9001;
  }
}

.wookie-app__browse-movies-hidden {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 165px;
  
  .scroller {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    position:relative;
    
    &.moving {
      transition-property: left, right;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
    }
  }
}