.wookie-app__selectable-movie {
  height: 150px;
  margin-top: 16px;
  img {
    height: 150px;
  }
}

// Breakpoints values (600 / 752 / 1009 / 1425 / 1905) stolen from hulu.

/* Small screen devices (600px and above) */
// 2 are displayed at a time
@media only screen and (min-width: 0px) {
  .wookie-app__selectable-movie {
    min-width: calc((100% - (25px * 2)) / 2);
    max-width: calc((100% - (25px * 2)) / 2);
    img {
      width: 100%;
    }
  }
}

/* Medium screen devices (752px and above) */
// 3 are displayed at a time
@media only screen and (min-width: 752px) {
  .wookie-app__selectable-movie {
    min-width: calc((100% - (25px * 3)) / 3);
    max-width: calc((100% - (25px * 3)) / 3);
    img {
      width: 100%;
    }
  }
}

/* Big screen devices (889px and above) */
// 4 are displayed at a time
@media only screen and (min-width: 1009px) {
  .wookie-app__selectable-movie {
    min-width: calc((100% - (25px * 4)) / 4);
    max-width: calc((100% - (25px * 4)) / 4);
    img {
      width: 100%;
    }
  }
}

/* Big screen devices (1425px and above) */
// 4 are displayed at a time
@media only screen and (min-width: 1425px) {
  .wookie-app__selectable-movie {
    min-width: calc((100% - (25px * 5)) / 5);
    max-width: calc((100% - (25px * 5)) / 5);
    
    img {
      width: 100%;
    }
  }
}

// 6 are displayed at a time
@media only screen and (min-width: 1905px) {
  .wookie-app__selectable-movie {
    min-width: calc((100% - (25px * 6)) / 6);
    max-width: calc((100% - (25px * 6)) / 6);
    img {
      width: 100%;
    }
  }
}

.wookie-app__selectable-movie {
  margin-left: 12.5px;
  margin-right: 12.5px;
  cursor: pointer;
  
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}